* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../assets/bg1.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cccccc;
  height: 500px;
  background-position: top;
  background-size: cover;
  position: relative;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

h1 {
    margin-top: 0.2rem;
    margin-bottom: 2.5rem;
}

section {
  display: -webkit-flex;
  display: flex;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}


nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  font-size: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

footer {
  /*background-color: black;*/
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 0.6rem;
}

/* Responsive layout */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.container {
  width:70%; 
  padding:3rem; 
  margin-top: 1rem;   
}

.table tbody {
  background-color: rgba(251,251,255,0.7);
}

.form{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0px;
  text-align: left;
}

.form-control{
  background-color: rgba(251,251,255,0.5);
  margin-bottom: 13px;
}

input, select, textarea{
  color: #ff0000;
}

.validation{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0px;
  text-align: left;
  color: aliceblue;
}

.btn {
  margin-top: 15px;
  color: rgb(61, 61, 60);
  text-shadow: none;
  background-color:rgb(147, 243, 21);
  border: transparent;
  text-align: center;
}

form input[type="submit"]:hover,
.error-btn {
    background-color: rgb(125, 253, 136);
}

.btn-error {
  margin-top: 15px;
  color: rgb(61, 61, 60);
  text-shadow: none;
  width:100%;
  text-align: center;
  display:block;
  background-color: rgb(248, 177, 44);
}

.btn-error :hover {
  background-color: rgb(124, 91, 30);
}

